<section class="formSection">
  <br /><br />
  <div>
    <span class="ticketsSpan"
      >Please, submit your request with the following form, and a member of the
      sales team will contact you as soon as possible.
    </span>
  </div>
  <form
    class="ticketsForm"
    [formGroup]="fGroup"
    autocomplete="off"
    style="padding: 2vw"
  >
    <fieldset class="field1Form" style="width: 60%;;">
      <legend style="font-size: larger">ㅤPersonal Informationㅤ</legend>
      <div class="dataForm" style="padding: 20px">
        <div>
          <label for="name">Name:ㅤ</label>
          <input
            type="text"
            id="name"
            placeholder="Ronnie James"
            formControlName="name"
          /><br />
          <span *ngIf="campoNoEsValido('name')" class="alertSpan">
            Field Required. It's needed at least {{ minChars }} characters.
            <br />
          </span>
          <br />
          <label for="fname">First Name:ㅤ</label>
          <input
            type="text"
            id="fname"
            placeholder="Dio Padavona"
            formControlName="fname"
          /><br />
          <span *ngIf="campoNoEsValido('fname')" class="alertSpan">
            Field Required. It's needed at least {{ minChars }} characters.
            <br />
          </span>
          <br />
          <label for="email">E-mail:ㅤ</label>
          <input
            type="email"
            id="email"
            placeholder="hellfest@mail.com"
            formControlName="email"
          /><br />
          <span *ngIf="campoNoEsValido('email')" class="alertSpan">
            Invalid email adress.
            <br />
          </span>
          <br />
          <label for="phone">Phone:ㅤ</label>
          <input
            type="text"
            id="phone"
            placeholder="+54 9 1132145699"
            formControlName="phone"
          /><br />
          <span *ngIf="campoNoEsValido('phone')" class="alertSpan">
            Field Required. It's needed at least {{ minPhone }} numbers and no more than {{ maxPhone }} numbers.
            <br />
          </span>
          <br />
          <label for="payment">Payment Choice:ㅤ</label>
          <select id="payment" formControlName="payment">
            <option [defaultSelected]=true value="TARJETA">Credit Card</option>
            <option value="EFECTIVO">Cash on the Billeterie</option>
          </select>
          <br />
          <span *ngIf="campoNoEsValido('payment')" class="alertSpan">
            Selection Required.
            <br />
          </span>
          <br />
        </div>
      </div>
    </fieldset>
    <div class="fieldFormDiv">
      <fieldset class="field1Form">
        <legend style="font-size: larger">
          ㅤHellfest Part 1:ㅤ17 - 19 Juin 2022ㅤ
        </legend>
        <label for="quantity1">Quantity of Passes (Max. 10):ㅤ</label>
        <input
          type="number"
          id="quantity1"
          formControlName="quantity1"
        /><br />
        <span *ngIf="campoNoEsValido('quantity1')" class="alertSpan">
          Invalid number. Please input between 1 and 10 passes.<br>
        </span>
        <br />
        <label for="pass1"> Type of Pass:ㅤ</label>
        <select id="pass1" formControlName="pass1">
          <option [defaultSelected]=true value="1-day pass" >1-day pass</option>
          <option value="3-day pass">3-day pass</option>
        </select>
        <span id="individualPrice1">{{ individualPrice1 }}</span>
        <br />
          <span *ngIf="campoNoEsValido('pass1')" class="alertSpan">
            Selection Required. <br>
          </span>
        <br />
        <span id="priceSpan1">{{ priceSpan1 }}</span><br /><br />
        <label for="tacsToggle"
          >I declare that I accept the
          <a href="./tac.html" style="text-decoration: underline">TACs</a> of
          the Festivalㅤ</label
        >
        <input
          id="tacsToggle1"
          type="checkbox"
          formControlName="tacsToggle1"
        />
        <br />
        <span *ngIf="campoNoEsValido('tacsToggle1')" class="alertSpan">
          Please accept the Terms and Conditions.<br>
        </span>
      <br />
        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <input
            type="submit"
            class="button"
            value="Buy Now!"
            (click)="Submit1()"
          />
        </div>
      </fieldset>
      ㅤ
      <fieldset class="field2Form">
        <legend style="font-size: larger">
          ㅤHellfest Part 2:ㅤ23 - 26 Juin 2022ㅤ
        </legend>
        <label for="quantity2">Quantity of Passes (Max. 10):ㅤ</label>
        <input
          type="number"
          id="quantity2"
          formControlName="quantity2"
        /><br />
        <span *ngIf="campoNoEsValido('quantity2')" class="alertSpan">
          Invalid number. Please input between 1 and 10 passes.<br>
        </span>
        <br />
        <label for="pass2"> Type of Pass:ㅤ</label>
        <select id="pass2" formControlName="pass2">
          <option [defaultSelected]=true value="1-day pass">1-day pass</option>
          <option value="4-day pass">4-day pass</option>
        </select>
        <span id="individualPrice2">{{ individualPrice2 }}</span>
        <br />
          <span *ngIf="campoNoEsValido('pass2')" class="alertSpan">
            Selection Required. <br>
          </span>
        <br />
        <span id="priceSpan1">{{ priceSpan2 }}</span><br /><br />
        <label for="tacsToggle"
          >I declare that I accept the
          <a href="./tac.html" style="text-decoration: underline">TACs</a> of
          the Festivalㅤ</label
        ><input
          id="tacsToggle2"
          type="checkbox"
          formControlName="tacsToggle2"
        />
        <br />
        <span *ngIf="campoNoEsValido('tacsToggle2')" class="alertSpan">
          Please accept the Terms and Conditions.<br>
        </span>
      <br />
        <div
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <input
            type="submit"
            class="button"
            value="Buy Now!"
            (click)="Submit2()"
          />

        </div>
      </fieldset>
    </div>
  </form>
</section>
