<footer>
  <br /><br />
  <div class="sponsorsDiv">
    <img src="assets/img/7b5bfc.webp" class="sponsorImg" alt="Weezevent" />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <img src="assets/img/f92e58.webp" class="sponsorImg" alt="Arte Concert" />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <img src="assets/img/258426.webp" class="sponsorImg" alt="Zégut Radio" />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <img src="assets/img/1b2e8b.webp" class="sponsorImg" alt="Crédit Mutuel" />
  </div>
  <br /><br />
  <div class="neufilegroteskSmall">
    <a href="mailto:info@hellfest.fr">Contact</a>
    <span
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
    <a href="#TAC">Term and conditions</a>
    <span
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
    <a href="#Partners">Partners</a>
  </div>
  <br />
  <div>
    <span class="saludoFooter">
      Web by <a href="https://github.com/fcascan"><b>fcascan</b></a> Productions 2022. Made with tons of 🧉 and dedication.
    </span>
  </div>
  <br />
</footer>
