<!----------------------------->
<!-- SECCION IMAGENES LINEUP -->
<!----------------------------->
<br /><br /><br /><br /><br />
<div
  style="
        padding: 2vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  "
>
  <a href="#lineup1"><img src="/assets/img/lineup1.png" alt="Lineup Grill 1" style="height: 145vh; max-width: 95vw"/></a>
  <img src="/assets/img/lineup2.png" alt="" style="height: 145vh; "/>
  <a href="#lineup2"><img src="/assets/img/lineup3.png" alt="Lineup Grill 2" style="height: 145vh; max-width: 95vw"/></a>
</div>
