<head>
  <link rel="stylesheet" href="/assets/css/lightslider.css" />
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script type="module" src="assets/js/lightslider.js"></script>
  <script type="text/javascript" src="assets/js/index.js"></script>
</head>

<!------------->
<!-- LINE UP -->
<!------------->
<br /><br />
<div class="lineupDiv">
  <div class="lineupInfoDiv">
    <span class="neufilegroteskSmall" style="font-weight: bold"
      >ARTISTS</span
    ><br />
    <span class="filledText">LINE UP</span><br />
    <img
      class="separador"
      src="/assets/img/svgexport-12.svg"
    /><br />
    <span class="microgrammaNoFill">350</span>
    <span class="tungstenFilled"> ARTISTS</span><br />
    <span class="microgrammaNoFill">6</span>
    <span class="tungstenFilled"> SCENES</span><br />
    <span class="microgrammaNoFill">7</span>
    <span class="tungstenFilled"> DAYS</span><br />
    <button class="button" onclick="window.location.href='./pages/lineup.html';">FULL LINE UP</button><br />
  </div>
  <div class="carouselArrowsDiv">
    <button id="goToNextSlide" class="carouselArrows" style="background-color: transparent">
      <img src="/assets/img/svgexport-15.svg" />
    </button>
    <br /><br />
    <button	id="goToPrevSlide" class="carouselArrows" style="background-color: transparent">
      <img src="/assets/img/svgexport-15-left.svg" />
    </button>
  </div>
    <!-- Extraido de: http://sachinchoolur.github.io/lightslider/index.html -->
    <div class="lSSlideOuter">
      <div class="lSSlideWrapper usingCss">
        <ul
          id="content-slider"
          class="content-slider lightSlider lsGrab lSSlide"
          style="
            width: 3240px;
            transform: translate3d(-810px, 0px, 0px);
            height: 162px;
            padding-bottom: 0%;
          "
        >
          <li
            class="lslide active"
            style="width: 260px; margin-right: 10px"
          >
            <div class="card">
              <img
                src="/assets/img/e207e6.webp"
                class="cardImg"
                alt="Metallica June 26"
              />
              <div class="cardBody">
                <h5 class="cardTitle">METALLICA</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  THRASH METAL
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 26</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <img
                src="/assets/img/e10eea.webp"
                class="cardImg"
                alt="Guns and Roses June 25"
              />
              <div class="cardBody">
                <h5 class="cardTitle">GUNS N' ROSES</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  HARD ROCK
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 25</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <img
                src="/assets/img/0287f2.webp"
                class="cardImg"
                alt="Nine Inch Nails June 24"
              />
              <div class="cardBody">
                <h5 class="cardTitle">NINE INCH NAILS</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  INDUSTRIAL METAL
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 24</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <img
                src="/assets/img/4867c4.webp"
                class="cardImg"
                alt="Scorpions June 23"
              />
              <div class="cardBody">
                <h5 class="cardTitle">SCORPIONS</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  HARD-ROCK
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 23</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <img
                src="/assets/img/df2c19.webp"
                class="cardImg"
                alt="Gojira June 19"
              />
              <div class="cardBody">
                <h5 class="cardTitle">GOJIRA</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  DEATH METAL
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 19</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <img
                src="/assets/img/183864.webp"
                class="cardImg"
                alt="Ghost June 18"
              />
              <div class="cardBody">
                <h5 class="cardTitle">GHOST</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  HEAVY POP
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 18</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <img
                src="/assets/img/326d58.webp"
                class="cardImg"
                alt="Deftones June 17"
              />
              <div class="cardBody">
                <h5 class="cardTitle">DEFTONES</h5>
                <br />
                <p
                  class="neufilegroteskDarkSmall"
                  style="font-weight: bold"
                >
                  NEO METAL
                </p>
                <br />
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">JUNE 17</button>
              </div>
            </div>
          </li>
          <li class="lslide" style="width: 260px; margin-right: 10px">
            <div class="card">
              <div class="cardImgDiv" style="max-height: 50%">
                <img
                src="/assets/img/438714.webp"
                class="cardImg"
                alt="View the full line up"
                />
              </div>
              <div class="cardBody" style="transform: translateY(-20%);">
                <button class="cardButton" onclick="window.location.href='./pages/lineup.html';">
                  DISCOVER THE FULL LINE UP
                </button>
              </div>
            </div>
          </li>
          <!-- Dummys para simular el mismo comportamiento -->
          <li
            class="clone right"
            style="
              width: 260px;
              margin-right: 10px;
              background-color: transparent;
            "
          ></li>
          <li
            class="clone right"
            style="
              width: 260px;
              margin-right: 10px;
              background-color: transparent;
            "
          ></li>
          <!-- <li
            class="clone right"
            style="
              width: 260px;
              margin-right: 10px;
              background-color: transparent;
            "
          ></li>							 -->
        </ul>
      </div>
    </div>
</div>



